<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8">
	  <title>Missile Command</title>
	  <link rel="stylesheet" href="css/index.css">
	  <link rel="stylesheet" href="css/qtip.css">
	  <link rel="stylesheet" href="css/introjs.css">
	  <link rel="stylesheet" href="css/bootstrap.min.css">
	  <link rel="icon shortcut" href="images/circle.png">
  </head>
  <body>
	  <div id="navbar" class="pull-left" >
		  <nav  class="navbar navbar-default" id="nav_navbar" role="navigation">

			  <ul class="nav navbar-nav" 	  >
				  <li >
					  <a id="main_btn" class="change_panel"
				href="#game"  aria-label="game panel" >
						  <img class="navbar_img ttip" title="Home"
		 src="images/home.png" alt="game navbar button" ></a>

					  <a id="conversations_btn" class="change_panel"
					   href="#conversations"
					   aria-label="conversations panel" >
						  <img class="navbar_img ttip"
		 title="Conversations"
		 src="images/conversations.png" alt="conversations navbar button"></a>
<!--					  <a id="manual_btn" class="change_panel"
				  href="#manual"  aria-label="manual panel" >
						  <img class="navbar_img ttip"
						  title="Manual"
						  src="images/manual.png" alt="manual navbar button"></a>-->
					  <a id="tutorial_btn" class="change_panel"
				    href="#tutorial" data-toggle="tooltip"
				aria-label="tutorial" ><img
								 class="navbar_img ttip"
								 title="Tutorial"
	   src="images/tutorial.png"
    alt="tutorial navbar button"></a>
<a id="settings_btn" class="change_panel" href="#settings" aria-label="settings
panel"><img
								 class="navbar_img ttip"
								 title="Settings"
	   src="images/settings.png"
    alt="settings navbar button" aria-label="logout panel"></a>

<a id="exit_btn"
				href="#log_out">
						  <img class="navbar_img ttip" title="Logout"
		 src="images/logout.png" alt="log out navbar button"></a>
				  </li>
			  </ul>
		  </nav>
	  </div>

	  <div id="container" class="fill pull-right col-md-12">

		  <div id="conversations_panel" class="col-md-12 hiddens panels">
			  <div id="conversations_close_btn" class="change_panel">
				  <img class="pull-right close_img" src="images/close.png"
						    alt="close panel">
			  </div>
			  <div id="colonel_conversation" class="col-md-3
			  summary_conversation">
				  <div id="colonel_conversation_img_div"
					  class="conversations_header">
					  <img class="pull-left conv_img"
		src="images/colonel.png"
						    alt="colonel"> COLONEL
				  </div>
				  <div id="colonel_conversation_text"
	     class="conversations_text">
				  </div>
			  </div>
			  <div id="assistant_conversation" class="col-md-3
			  summary_conversation">
				  <div id="assistant_conversation_img_div" class="conversations_header">
					  <img class="pull-left conv_img"
		src="images/assistant.png"
						    alt="assistant">ASSISTANT
				  </div>
				  <div id="assistant_conversation_text"
	     class="conversations_text">
				  </div>

			  </div>
			  <div id="crazy_doctor_conversation" class="col-md-3
			  summary_conversation">
				  <div id="crazy_doctor_conversation_img_div" class="conversations_header">
					  <img class="pull-left conv_img"
		src="images/crazy_doctor.png"
						    alt="crazy doctor">CRAZY DOCTOR
				  </div>
				  <div id="crazy_doctor_conversation_text"
	     class="conversations_text">
				  </div>

			  </div>


		  </div>
		  <div id="manual_panel" class="col-md-12 hiddens panels">
			  <div id="manual_close_btn" class="change_panel"><img
					  class="pull-right close_img"

	 src="images/close.png"
  alt="colonel"></div>

			  MANUAL

		  </div>
		  <div id="settings_panel" class="col-md-12 hiddens panels">
			  <div id="settings_close_btn" class="change_panel"><img
					    class="pull-right close_img"

	   src="images/close.png"
    alt="close_panel"></div>

			  <div id="info_summary" class="col-md-5 settings_panels">
				  <p id="info_summary_title" class="text-center settings-title"> About you </p>
				  <div id="info_summary" class="col-md-12">
					  <p class="left_info_summary col-md-6">Username</p>
					  <p class="left_info_summary col-md-6" id="username_summary">n.a.</p>
					  <p class=" left_info_summary col-md-6">Military Rank</p>
					  <p class="left_info_summary col-md-6"
					  id="military_rank_summary">n.a.</p>
					  <p class=" left_info_summary col-md-6">Levels Completed</p>
					  <p class="left_info_summary col-md-6"
					  id="levels_completed_summary">n.a.</p>
					  <p class=" left_info_summary col-md-6">Total Time</p>
					  <p class="left_info_summary col-md-6" id="total_time_summary">n.a.</p>
					  <p class=" left_info_summary col-md-6">Avg Time For Level</p>
					  <p class="left_info_summary col-md-6" id="avg_time_summary">n.a.</p>
					  <p class=" left_info_summary col-md-6">Missiles Used</p>
					  <p class="left_info_summary col-md-6"
					  id="missiles_used_summary">n.a.</p>
				  </div>

		  	</div>
			  <div id="jump_level" class="col-md-5 settings_panels">
				  <p id="jump_level_summary_title" class="text-center settings-title">
				  Levels Settings</p>

				  <div class="form-group col-xs-12">
            Please, insert a level you want to play.
            <br>
					  <label for="level_hash_key_input_text">Level Key:</label>
					  <input type="text" maxlength="8" class="form-control settings-input"
						    id="level_hash_key_input_text">
					  <br>
					  <button id="reset_level_hash_key_btn"  type="button" class="btn
					  btn-success">Reset</button>
					  <button id="send_level_hash_key_btn" type="button" class="btn
					  btn-success ">Send</button>

				  </div>
			<br>
				  <div id="alert_level_hash_key">
				  </div>

				  <div class="col-md-6">
				  <p id="" class="text-center">
				  Level</p>
<div id="left_jump_level" class="col-md-6">

				  </div>
				  </div>
				  <div id="" class="col-md-6">
				<p id="" class="text-center">
				  Key</p>
				  <div id="right_jump_level" class="col-md-6">
				  </div>
				  </div>

			  </div>
		  </div>

		  <div id="main_panel" class="panels">
			  <div id="left" class="col-md-9">
				  <div id="game">
					  <div >
						  <div class="crosshair"></div>
					  </div>
					  <canvas id="game_canvas"></canvas>
					  <div id="cover_canvas">
									  </div>
<img id="canvas_play_game" class=""
						src="images/circle.png"
					alt="play game">



				  </div>
				  <div id="coding">
					  <pre id="text_editor"></pre>

				  </div>

			  </div>
			  <div id="right" class="col-md-3 pull-right">
				  <div id="chat_window">
						     <div id="chat_controller">
							     <button id="colonel_chat_btn" type="button"
							class="change_chat chat_focus_btn my_btn
							">Colonel</button>
							     <button id="assistant_chat_btn" type="button"
							  class="change_chat
							  my_btn">Assistant</button>
							     <button id="info_chat_btn" type="button"
						   class="change_chat
						   my_btn">info</button>
							     <button id="crazy_doctor_chat_btn" type="button"
							     class="change_chat btn
							     btn-success hidden">Crazy Doctor</button>

						     </div>
						     <div id="chat">

							     <div class="div_chat_image"
		     id="colonel_div_chat_image">
								     <img class="chat_image"
			src="images/colonel.png" alt="colonel">
							     </div>

							     <div class="chat_text typewriter" id="colonel_chat_text">
								     Colonel
							     </div>

							     <div class="div_chat_image hiddens"
		     id="assistant_div_chat_image">
								     <img class="chat_image"
			src="images/assistant.png"
   alt="Assistant">
							     </div>
							     <div class="chat_text typewriter hiddens" id="assistant_chat_text">
								     Assistant
							     </div>
							     <div class="div_chat_image hiddens"
		     id="crazy_doctor_div_chat_image">
								     <img class="chat_image"
			src="images/crazy_doctor.png" alt="crazy
			doctor">
							     </div>
							     <div class="chat_text typewriter hiddens" id="crazy_doctor_chat_text">
								     Crazy Doctor
							     </div>
							     <div class="chat_text typewriter hiddens"
		     id="info_chat_text">
								     There are no messages for you.
							     </div>

						     </div>

				  </div>
				  <div id="replies_div">

					  <div id="replies">
	<button id="start_level_btn" type="button"
						   class="send_answer btn btn-success
						   start_focus_btn
						   "></button>

						  <div id="colonel_replies" class="replies">
							  <button id="colonel_answer_1" type="button"
						   class="send_answer btn btn-success
						   focus_btn hiddens">Next</button>
							  <button id="colonel_answer_2" type="button"
						   class="btn
						   btn-success hiddens send_answer"></button>
							  <button id="colonel_answer_3" type="button"
						   class="btn
						   btn-success hiddens send_answer"></button>
						  </div>
						  <div id="assistant_replies" class="replies">
							  <button id="assistant_answer_1" type="button"
						     class="send_answer btn btn-success hiddens">Next</button>
							  <button id="assistant_answer_2" type="button"
						     class="btn
						     btn-success hiddens send_answer"></button>
							  <button id="assistant_answer_3" type="button"
						     class="btn
						     btn-success hiddens send_answer"></button>
						  </div>
						  <div id="crazy_doctor_replies" class="replies">
							  <button id="crazy_doctor_answer_1" type="button"
							  class="send_answer btn btn-success hiddens">Next</button>
							  <button id="crazy_doctor_answer_2" type="button"
							  class="btn
							  btn-success hiddens send_answer"></button>
							  <button id="crazy_doctor_answer_3" type="button"
							  class="btn
							  btn-success hiddens send_answer"></button>
						  </div>
					  </div>
					  <div id="code_buttons_controller">

						  <div id="div_send_code_btn"
						  class="div_code_controller col-md-6">
							  <img id="send_code_btn" title="Exec
							  Code"
		  class="code_buttons_img center-block ttip "
    src="images/save.png" alt="send code controller button">
						  </div>
						  <div id="div_reset_code_btn"
		 class="div_code_controller col-md-6">
							  <img id="reset_code_btn"
		  class="code_buttons_img center-block ttip" title="Reset Level"
    src="images/discard.png" alt="reset code controller button">
						  </div>
					  </div>




				  </div>

			  </div>
		  </div>

	  </div>

	  <script src="js/jquery-2.1.0.min.js"></script>
	  <script src="js/index.js"></script>
	  <script src="js/qtip.js"></script>
	  <script src="js/sandbox.js"></script>
	  <script src="js/intro.js"></script>
	  <script src="js/grained.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script type="text/javascript" src="js/jquerytypewriter.js"></script>
	  <script src="js/missile_command.js"></script>
	  <script src="ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

  </body>

</html>
