<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8">
	  <title>Missile Command</title>
	  <link rel="stylesheet" href="css/index.css">
	  <link rel="stylesheet" href="css/bubbles.css">
	  <link rel="stylesheet" href="css/bootstrap.min.css">
	  <link rel="icon shortcut" href="images/favicon.ico">
  </head>
  <body>
	  <div id="navbar" class="col-md-1">
		  <nav class="navbar navbar-default" role="navigation">
			  <!-- Brand and toggle get grouped for better mobile
	     display -->
	     <div class="navbar-header">
		     <button type="button" class="navbar-toggle" data-toggle="collapse"
	   data-target=".navbar-ex1-collapse">
			     <span class="sr-only">Toggle navigation</span>
			     <span class="icon-bar"></span>
			     <span class="icon-bar"></span>
			     <span class="icon-bar"></span>
		     </button>
		     <a class="navbar-brand" href="#">Brand</a>
	     </div>

	     <!-- Collect
		the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a  href="#">Link</a></li>
			</ul>
		 <button id="reset_code_btn" type="button" class="btn
					  btn-warning ">Reset</button>
		  <button id="send_code_btn" type="button" class="btn
		  btn-success ">Send</button>

		</div>
		  </nav>
	  </div>

	  <div id="container" class="fill pull-right col-md-11">

		  <div id="left" class="col-md-9">
			  <div id="game">
				  <div >
					  <div class="crosshair"></div>
				  </div>
				  <canvas id="game_canvas"></canvas>
			  </div>
			  <div id="coding">
<!--
				  <textarea id="text_editor" class="form-control
				  " rows="5"></textarea>-->
<pre id="text_editor">function foo(items) {
					      var x = "All this is syntax highlighted";
						    return x;
						    }</pre>

			  </div>

		  </div>
		  <div id="right" class="col-md-3 pull-right">
			  <div id="chat_window">
				  <div id="chat">
					<div class="div_chat_image"
	    id="colonel_div_chat_image">
						  <img class="chat_image"
						  src="images/colonel.png" alt="colonel">
					 </div>
					  <div class="chat_text" id="colonel_chat_text">
						  Colonel
					  </div>

					  <div class="div_chat_image hiddens"
						  id="assistant_div_chat_image">
						  <img class="chat_image"
						  src="images/assistant.png"
						  alt="Assistant">
					  </div>
					  <div class="chat_text hiddens" id="assistant_chat_text">
						  Assistant
					  </div>
					<div class="div_chat_image hiddens"
						id="crazy_doctor_div_chat_image">
						  <img class="chat_image"
						  src="images/crazy_doctor.png" alt="crazy
						  doctor">
					  </div>
					  <div class="chat_text hiddens" id="crazy_doctor_chat_text">
						  Crazy Doctor
					  </div>
				  </div>
				  <div id="chat_controller">
					  <button id="colonel_chat_btn" type="button"
					  class="change_chat btn
					  btn-warning ">Colonel</button>
					  <button id="assistant_chat_btn" type="button"
						   class="change_chat btn
					  btn-success">Assistant</button>
					<button id="crazy_doctor_chat_btn" type="button"
					class="change_chat btn
					  btn-success">Doctor</button>


				  </div>
			  </div>
			  <div id="replies">
				  			  </div>

		  </div>

	  </div>

	  <script src="js/jquery-2.1.0.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/missile_command.js"></script>
    <script src="js/index.js"></script>
	<script src="ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

  </body>
</html>
