<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Score</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/score.css" rel="stylesheet">
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/score.js"></script>
    <script type="text/javascript" src="js/jquerytypewriter.js"></script>

      </head>

  <body>

    <div class="container">
	<div id="score_summary" class="col-md-5">
				  <p id="info_summary_title" class="text-center"> About you </p>
				  <div id="left_score_summary" class="col-md-6">
					  <p>Username</p>
					  <p>Military Rank</p>
					  <p>Levels Completed</p>
					  <p>Total Time</p>
					  <p>Avg Time For Level</p>
					  <p>Missiles Used</p>
					  <p>Final Score</p>
				  </div>

				<div id="right_info_summary" class="col-md-6">
					  <p id="username_summary"></p>
					  <p id="military_rank_summary"></p>
					  <p id="levels_completed_summary"></p>
					  <p id="total_time_summary"></p>
					  <p id="avg_time_summary"></p>
					  <p id="missiles_used_summary"></p>
					  <p id="final_score_summary"></p>
				  </div>

		  	</div>

	</div>

  </body>
</html>
