<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Score</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/score.css" rel="stylesheet">
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/score.js"></script>
    <script type="text/javascript" src="js/jquerytypewriter.js"></script>

      </head>

  <body>

    <div id="div_container" class="center-block">
	
	<div id="score_summary" class="col-md-12">
	<p class="text-center">Congratulations, Sir.</p>
<p id="info_summary_title" class="text-center">
		Barbarians have been defeated forever!</p>


		<div id="info_summary" class="col-md-12">
			<p class="left_info_summary col-md-6">Username</p>
			<p class="col-md-6" id="username_summary"></p>
			<p class=" left_info_summary col-md-6">Military Rank</p>
			<p class="col-md-6"
			id="military_rank_summary"></p>
			<p class=" left_info_summary col-md-6">Levels Completed</p>
			<p class="col-md-6"
	id="levels_completed_summary"></p>
			<p class=" left_info_summary col-md-6">Total Time</p>
			<p class="col-md-6" id="total_time_summary"></p>
			<p class=" left_info_summary col-md-6">Avg Time For Level</p>
			<p class="col-md-6" id="avg_time_summary"></p>
			<p class=" left_info_summary col-md-6">Missiles Used</p>
			<p class="col-md-6"
	id="missiles_used_summary"></p>

		</div>
		<p id="prize" class="text-center hiddens">Get your Prize</p>


	</div>
	<p id="credits"> Credits: Alessandro Cocilova, Luca Sciullo</p>


    </div>

  </body>
</html>
