.hiddens {
	display: none;
}
#editor{
	height: 100%;
}

@font-face {
	font-family: vt323;
	src: url(../fonts/VT323-Regular.ttf);
}
#container {
	padding-top:10px;
	height: 100%;
	width: 95%;
}

#main_panel{
	height: 100%;
	width: 100%;
}




#right, #left, #conversations, #manual{
	height: 100%;

}

#game {
	height: 50%;
}

#coding {
	height: 50%;
}

#chat_window{
	height: 70%;
	border: 1px;
	border-style: solid;
}

#replies_div{
	padding: 3%;
	border: 1px;
	border-style: solid;
	height: 30%;

}
body {
	height: 100%;
	overflow: hidden;
}

html {
	height: 100%;
}
#text_editor {
	font-family: vt323;
	font-size: 100%;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 1em;
	/*	background-color: black;*/
	color: green;
	width: 100%;
	height: 100%;
}
#chat_controller{
	height: 7%;
}
#chat{
	height: 93%;
}
.div_chat_image{
	height: 70%;
	background-color : black;
}
.chat_text{
	height: 30%;
	background-color: black;
	color: green;
	font-family: vt323;
	font-size: 150%;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 1em;
}

#navbar{
	width: 5%;
	padding-left: 0px;
	height:100%;
}


@media (min-width: 768px) {
	.navbar-collapse {
		height: auto;
		border-top: 0;
		box-shadow: none;
		max-height: none;
		padding-left:0;
		padding-right:0;
	}
	.navbar-collapse.collapse {
		display: block !important;
		width: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-x: visible;
	}

	.navbar
	{
		max-width:300px;
		margin-right: 0;
		margin-left: 0;
		height:100%;
	}

	.navbar-nav,
	.navbar-nav > li,
	.navbar-left,
	.navbar-right,
	.navbar-header
	{float:none !important;}

	.navbar-right .dropdown-menu {left:0;right:auto;}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}

.chat_image {

	height: 100%;
	width: 100%;
}

.close_img {
	width: 5%;
}
.summary_conversation {
	top: 20%;
	height: 60%;
	border: 1px;
	border-style: solid;
	margin-left: 5% ;
	padding-left: 5px !important;
	padding-right:0 !important;

}
.settings_panels {
	top: 15%;
	height: 70%;
	border: 1px;
	border-style: solid;
	margin-left: 5% ;
	padding-left: 5px !important;
	padding-right:0 !important;

}
#settings_panel {
height: 100%;
}


.conversations_text {
	height: 90%;
	width: 100%;
	overflow-y: auto;
}
.conversations_header{
	height: 10%;
	width: 100%;
}
#conversations_panel {
	height: 100%;
}
.navbar_img {
	width: 120%;
}

#nav_navbar {
	width: 100%;
}

#alert_level_hash_key {
	margin-top: 3%;
	color: red;
	font-weight: bold;
}

.readonly-highlight{
	background-color: red;
	opacity: 0.2;
	position: absolute;
}

#replies {
	height: 80%;
}

#code_buttons_controller {
	height: 40%
}

.code_buttons_img {
	width: 45%;;
	margin-left: auto;
	    margin-right: auto;
}

.div_code_controller {
}

.send_answer {
		margin-left: auto;
	    margin-right: auto;
	    margin-top: 1%;
	width: 100%;
}
