.hiddens {
	display: none;
}
#editor{
	height: 100%;
}

@font-face {
	font-family: vt323;
	src: url(../fonts/VT323-Regular.ttf);
}

#container {
	padding-top:10px;
	height: 100%;
	width: 95%;
}

#main_panel{
	height: 100%;
	width: 100%;
}

#right, #left, #conversations, #manual{
	height: 100%;

}

#game {
	height: 50%;
}

#coding {
	height: 50%;
}

#chat_window{
	height: 70%;
	border: 1px;
	border-style: solid;
}

#replies_div{
	padding: 3%;
	border: 1px;
	border-style: solid;
	height: 30%;
	background-color: rgba(0, 0, 0, 0.85);
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url("../images/neon_grid.jpg");
	background-size: 100%;
}

html {
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url("../images/neon_grid.jpg");
	background-size: 100%;

}
#text_editor {
	font-family: vt323;
	font-size: 100%;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 1em;
	/*background-color: black;*/
	color: green;
	width: 100%;
	height: 100%;
}
#chat_controller{
	height: 7%;
}
#chat{
	height: 93%;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.75);
}
.div_chat_image{
	height: 70%;
	background-color : black;
}
.chat_text{
	height: 30%;
	background-color: black;
	color: green;
	font-family: vt323;
	font-size: 150%;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 1em;
}

#navbar{
	width: 5%;
	padding-left: 0px;
	height:100%;
}


@media (min-width: 768px) {
	.navbar-collapse {
		height: auto;
		border-top: 0;
		box-shadow: none;
		max-height: none;
		padding-left:0;
		padding-right:0;
	}
	.navbar-collapse.collapse {
		display: block !important;
		width: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-x: visible;
	}

	.navbar
	{
		max-width:300px;
		margin-right: 0;
		margin-left: 0;
		height:100%;
		background-color: rgba(0, 0, 0, 0.75) !important;
		border-color: green !important;
	}

	.navbar-nav,
	.navbar-nav > li,
	.navbar-left,
	.navbar-right,
	.navbar-header
	{float:none !important;}

	.navbar-right .dropdown-menu {left:0;right:auto;}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}

.chat_image {

	height: 100%;
	width: 100%;
}
.rank_image {

	height: 10%;
	width: 10%;
}

.close_img {
	width: 3%;
	cursor: pointer;
}

.conv_img {
	height: 100%;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.summary_conversation {
	background-color: rgba(0, 0, 0, 0.95);
	font-family: vt323;
	color: green;
	top: 20%;
	height: 75%;
	width: 27% !important;
	border: 1px;
	border-style: solid;
	margin-top: -6% !important;
	margin-left: 3% ;
	padding-left: 5px !important;
	padding-right: 3px !important;
}


#colonel_conversation{
	margin-left: 6%;
}

.settings_panels {
	background-color: rgba(0, 0, 0, 0.95);
	font-family: vt323;
	color: green;
	top: 15%;
	height: 70%;
	border: 1px;
	border-style: solid;
	margin-left: 5% ;
	padding-left: 5px !important;
	padding-right:0 !important;

}
#settings_panel {
height: 100%;
}


.conversations_text {
	padding-top: 3px;
	height: 73%;
	width: 100%;
	overflow-y: auto;
}
.conversations_header{
	font-size: 24px;
	font-weight: bold;
	height: 10%;
	width: 100%;
}
#conversations_panel {
	height: 100%;
}
.navbar_img {
	width: 100%;
}

#nav_navbar {
	width: 100%;
}

#alert_level_hash_key {
	margin-top: 3%;
	color: red;
	font-weight: bold;
}

.readonly-highlight{
	background-color: red;
	opacity: 0.2;
	position: absolute;
}

#replies {
	height: 80%;
}

#code_buttons_controller {
	height: 40%
}

.code_buttons_img {
	width: 45%;;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.div_code_controller {
}

.send_answer {
		margin-left: auto;
	    margin-right: auto;
	    margin-top: 1%;
	width: 100%;
}

.not_clickable {
	cursor: not-allowed !important;
}

.dialog_focus_btn, .chat_focus_btn, .start_focus_btn {
	border-color: white !important;
}

#cover_canvas {
	background-color: green;
	opacity: 0.6 !important;


}

#canvas_play_game {
	cursor: pointer;
	width: 5%;
}

.level_text{
	color:white;
	font-size: 20px;
	font-weight: bold;
}

.conversations_header{
	height: 25%;
}

.character_name{
	color:white;
	font-size: 16px;
}

.settings-input{
	width: 100% !important;
}

.settings-title{
	color: white;
	font-size: 20pt;
	font-weight: bold;
}

.left_info_summary{
	font-size: 22px;
	font-weight: bold;
}

.btn{
	font-family: vt323 !important;
	font-size: 14pt !important;
	border-width: 2px !important;
	background-color: green !important;
	border-color: green;
}

.my_btn{
	background-color: rgba(0, 50, 0, 0.55);
	color: white;
	border-color: green;
	width: 32%;
	font-family: vt323 !important;
	font-size: 14pt !important;
}

.right_settings{
	font-size: 14pt;
}

.right-header{
	color: white;
}

.settings_btn{
	border-color: green !important;
}

.to_highlight{
	background-color: rgba(0, 200, 0, 0.75);
}
