body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
}

@font-face {
	font-family: vt323;
	src: url(../fonts/VT323-Regular.ttf);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#div_insert_code {
	margin-top: 10%;
}

#error_alert{
	margin-top: 3%;
	color: red;
	font-weight: bold;
}

.container {
  font-family: vt323;
  color: green;
}

.btn{
  background-color: green !important;
  border-color: green !important;
}
