@font-face {
	font-family: vt323;
	src: url(../fonts/VT323-Regular.ttf);
}

body, html {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../images/neon_grid.jpg");
	background-size: 100%;
	color: green;

	font-size: xx-large;
	font-family: vt323;
	

}
.rank_image {
	height: 10%;
	width: 10%;
}

#div_container {
	display: table;
	background-color: rgba(0,0,0,0.75);
	width: 50%;
	height: 75%;
	margin-top: 10%;

}
#score_summary {

	width: 100%;
	height: 100%;
}
#info_summary {
	padding-top: 20px;
	font-size: large;
	width: 100%;
		height: 100%;
	margin: auto;
}
#info_summary *{

	text-align: center;
}

#info_summary_title {

}

#credits {
	background-color:  rgba(0,0,0,0.75);
	bottom: 0;
	position: absolute;
	font-size: 45%;
}

#prize {
	cursor: pointer;
	height: 10%;
}

#donate {
	height: 5%;
	width: 100%;
	position: fixed;
	bottom: 0;
}
#donate_div {
	display: block;
	margin: auto;
	height: 100%;
	width: 10%;

}

#donate_form {

}

#github_svg {
	height: 110%;
	margin-right: 5%;
}


